* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
}

body {
  background-color: rgb(0, 24, 45);
}

header {
  width: 100%;
  position: sticky;
  top: -1px;
  background-color: rgb(0, 24, 45);
  padding: calc(1rem + 1px) 30px;
  transition: 0.3s;
  z-index: 99;
  display: flex;
  justify-content: center;
  align-items: center;
}

header.isSticky {
  background-color: transparent;
  opacity: 0.5;
}

header:hover {
  opacity: 1;
  background-color: rgb(0, 24, 45);
}

.banner-box {
  flex: 1;
}

.banner-box > span {
  color: aqua;
  font-size: 2rem;
  letter-spacing: 5px;
}

.nav-bar {
  padding-right: 1rem;
}

.option-box {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.option-box div a {
  display: block;
  padding: 10px;
  border-radius: 50%;
  background-color: aqua;
  transition: 0.3s;
}

.option-box div a:hover {
  background-color: aqua;
  box-shadow: 0px 0px 10px 1px rgb(0, 255, 255);
}

section {
  min-height: 1000px;
  max-height: 1500px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

section:nth-child(2n-1) {
  background-color: rgb(54, 53, 114);
}

section:nth-child(2n) {
  background-color: rgb(46, 45, 115);
}

/* ------------------- home styling ------------------- */

#home {
  background-color: rgb(0, 24, 45);
  display: block;
  overflow: hidden;
  font-family: "Nanum Gothic", sans-serif;
  font-size: 2rem;
  font-weight: 300;
}

.intro {
  letter-spacing: 3px;
  line-height: 2em;
  animation: elevatedown 1.5s;
  margin-bottom: 50px;
  text-align: left;
  width: 90vw;
  margin: 0 auto;
}

@keyframes elevatedown {
  from {
    margin-top: -100%;
    opacity: 0;
  }
  to {
    margin-top: 0%;
    opacity: 1;
  }
}

#home > div {
  animation: bluroff 2s forwards;
  animation-delay: 1.5s;
  opacity: 0;
  width: 90vw;
  margin: 0 auto;
  margin-top: 2rem;
}

@keyframes bluroff {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#home > div > a {
  color: rgb(0, 24, 45);
  padding: 20px 50px;
  background-color: aqua;
  text-decoration: none;
  letter-spacing: 3px;
  transition: 0.3s;
  letter-spacing: 5px;
}

#home > div > a:hover {
  background-color: rgb(125, 255, 255);
  box-shadow: 0px 0px 30px 1px rgb(0, 255, 255);
}

@media screen {
  #home {
    padding-top: 8rem;
  }
  #home > div > a {
    font-size: 2rem;
  }
}

@media (max-width: 859px) {
  #home {
    padding-top: 5rem;
    font-size: 1.5rem;
  }
  #home > div > a {
    font-size: 1.5rem;
  }
}

@media (max-width: 599px) {
  #home {
    font-size: 1.25rem;
  }
  #home > div > a {
    font-size: 1rem;
  }
}

/* ------------------- todo styling ------------------ */

.todo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
  margin: 1rem 40px;
  width: 100%;

  border-radius: 1rem;
  box-shadow: 0px 0px 10px 3px rgb(0, 0, 0, 0.5);
  background-color: rgb(222, 222, 222);
}

.todo-form {
  width: 100%;
  text-align: center;
}

.todo-form input,
.todo-form button {
  text-align: center;
  font-size: 1.5rem;
  padding: 1rem;
  border: none;
  background-color: black;
}

.todo-form input {
  width: 50%;
  height: 100%;
  color: rgb(0, 255, 255);
  outline: none;
  letter-spacing: 2px;
}

/* cursor animation은 나중에 넣자... */

.todo-form button {
  height: 100%;
  color: rgb(164, 164, 164);
  cursor: pointer;
}

.todo-form input,
.todo-form button {
  transition: all 0.3s ease;
  /* 반응형에서 어색하지 않은 전환을 위해... */
}

.todo-form > button:hover {
  color: black;
  background-color: aqua;
}

.todo-box {
  margin-top: 1rem;
  background-color: rgba(242, 242, 242, 0.82);
  min-width: 80%;
  border-radius: 10px;
}

.todo-div {
  display: flex;
  padding: 0.5rem;
  background-color: white;
  box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  margin: 1rem;
}

.todo-li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  list-style: none;
  letter-spacing: 2px;
  font-size: 1.5rem;
}

.done-button,
.delete-button {
  padding: 0.5rem;
  border: none;
  cursor: pointer;
}
.done-button {
  background-color: greenyellow;
  transition: 0.3s;
}

.done-button:hover {
  background-color: rgb(120, 180, 31);
}

.delete-button {
  background-color: red;
  transition: 0.3s;
}

.delete-button:hover {
  background-color: rgb(201, 0, 0);
}

@media (max-width: 859px) {
  .todo-form input,
  .todo-form button,
  .todo-li {
    font-size: 1.25rem;
    letter-spacing: 1px;
  }
}
@media (max-width: 599px) {
  .todo-form input,
  .todo-form button,
  .todo-li {
    font-size: 1rem;
    letter-spacing: 0px;
  }
}

/* ---------------- gacha styling ---------------- */

.random-meal {
  position: relative;
  min-width: 400px;
  min-height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.start-button {
  color: #555;
  text-decoration: none;
  text-transform: uppercase;
  padding: 1.5rem 3rem;
  font-weight: 500;
  font-size: 1.2em;
  background-color: white;
  letter-spacing: 2px;
  transition: 0.2s;
}

.start-button:hover {
  background-color: rgb(34, 24, 97);
  color: white;
  text-shadow: 0px 0px 20px aqua, 0px 0px 20px aqua;
  letter-spacing: 4px;
  font-weight: bolder;
}

.gacha-box {
  width: 100%;
  height: calc(400px - 20px);
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 5px;
  background-color: aliceblue;
  padding: 10px;
}

.meal-button {
  min-width: 30%;
  height: 30%;
}

.menu-label {
  position: absolute;
  top: calc(100% + 10px);
  color: #fff;
}

/* ----------- footer ----------- */

footer {
  background-color: green;
}
